@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Parisienne&display=swap');

/*Libre Baskerville*/
/*Inria Serif*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background-color: rgb(50, 50, 50);
    overflow-x: hidden;
}

.section1 {
    height: 800px;
    width: 100%;
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(100px);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    max-width: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(92, 92, 92, 0.223);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    z-index: 1000;

    animation: navDrop 0.8s ease-out forwards;
}
@keyframes navDrop {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    padding-top: 10px;
    height: 70px;

    animation: logoFade 2s ease forwards;
    animation-delay: 1s;
}
@keyframes logoFade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-links {
    display: flex;
    gap: 50px;
}
.nav-links li {
    list-style: none;
    opacity: 0;
    transform: translateY(-15px);
    animation: navLinkFade 0.5s ease forwards;
}

.nav-links li:nth-child(1) { animation-delay: 1s; }
.nav-links li:nth-child(2) { animation-delay: 1.5s; }
.nav-links li:nth-child(3) { animation-delay: 2s; }
.nav-links li:nth-child(4) { animation-delay: 2.5s; }

@keyframes navLinkFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Inria Serif';
    color: white;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: red;
}
.profile {
    position: absolute;
    height: 500px;
    top: 160px;
    right: 130px;
    border-radius: 50%;
    box-shadow: 
        0 0 45px rgba(255, 215, 171, 0.4),
        0 0 20px rgba(255, 215, 171, 0.4);

    opacity: 0;
    will-change: opacity, transform;

    animation:
        fadeLeft 2s ease-out forwards,
        smoothBounce 3s cubic-bezier(.4,0,.2,1) infinite 2s;
}



@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes smoothBounce {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}



.text-profile {
    height: 700px;
    padding: 30px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 40px;
    margin-right: 50px;
}

.text-profile p {
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Inria Serif';
    position: relative;
    top: 20px;
    margin: 10px;
    font-size: 12px;
    padding: 15px;
    right: 10px;

    background-color: rgba(255, 255, 255, 0.15);  
    border-radius: 20px;
    backdrop-filter: blur(10px);                 
    -webkit-backdrop-filter: blur(10px);         
    border: 2px solid rgba(255, 255, 255, 0.2); 

    opacity: 0;
    animation: text-profile 1s ease-out forwards;
    animation-delay: 1s;
}
@keyframes text-profile {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-profile h1 {
    padding-top: 10px;
    position: relative;
    font-size: 100px;
    font-family: 'Libre Baskerville';
    max-width: 500px;
    font-weight: 300;
    color: white;

    opacity: 0;
    animation: text-profile 1s ease-out forwards;
    animation-delay: 1.5s;
}
@keyframes text-profileh1 {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-profile b {
    color: #FFFC9F;

    opacity: 0;
    animation: text-profile 1s ease-out forwards;
    animation-delay: 2s;
}
@keyframes text-profileh1 {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-profile h3 {
    padding-top: 30px;
    font-weight: 100;
    font-family: 'Inria Serif';
    color: white;

        opacity: 0;
    animation: text-profile 1s ease-out forwards;
    animation-delay: 2.5s;

}
@keyframes text-profileh3 {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.text-profile h2 {
    display: inline-block; /* allow transform */
    color: white;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Inria Serif';
    position: relative;
    top: 20px;
    margin: 10px;
    padding: 15px;

    background-color: rgba(255, 255, 255, 0.15);  
    border-radius: 20px;
    backdrop-filter: blur(10px);                 
    -webkit-backdrop-filter: blur(10px);         
    border: 2px solid rgba(255, 255, 255, 0.2); 
    transition: all 0.3s ease;

    opacity: 0;
    animation: text-profile 1s ease-out forwards;
    animation-delay: 2.5s;

}
@keyframes text-profileh3 {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-profile h2:hover {
    background-color: rgba(255, 0, 0, 0.604);
}

.btn {
    margin: 20px;
    position: relative;
    top: 100px;
    right: 520px;
    border-radius: 10px;
    background-color: #3A3A3A;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    font-family: 'Inria Serif';
    box-shadow: 
        0 0 45px rgba(255, 215, 171, 0.4),
        0 0 20px rgba(255, 215, 171, 0.4);
    opacity: 0;
    animation: btn 1s ease-out forwards;
    animation-delay: 3s;
}

/* Button hover effect */
.btn:hover {
    background-color: rgba(255, 0, 0, 0.604);
}

/* Keyframes */
@keyframes btn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.bxr {
    position: relative;
    top: 3px;
}


.section2 {
    position: relative;
    height: 700px;
    width: 100%;
    overflow-x: hidden;
}


.about-me {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 50px;

}

.about-text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    bottom: 50px;
    gap: 40px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.about-text.show {
    opacity: 1;
    transform: translateX(0);
}

.about-me img {
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid #FFD7AB;
    box-shadow: 
    0 0 45px rgba(255, 215, 171, 0.4),
    0 0 20px rgba(255, 215, 171, 0.4);
    margin-left: 40px;
    opacity: 0;
    transition: opacity 0.12s ease, transform 0.6s ease;
    transform: translateX(-400px);
}
.about-me img.show {
    opacity: 1;
    transform: translateX(0);
}

.about-text h1,
.about-text p {
    color: white;
    font-family: 'Inria Serif';
    font-weight: 300;
}

.about-text h1 {
    font-size: 60px;
    font-family: 'Libre Baskerville';
}

.about-me p {
    font-size: 20px;
}

.section3 {
    overflow-x: hidden;
    padding-top: 50px;
    height: 700px;
    width: 100%;
}

.section3 h1 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.projects-container {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.project-card {
    flex: 1 1 300px;
    max-width: 700px;
    border: 5px solid #FFD7AB;
    border-radius: 8px;
    padding: 15px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #818181;
    transition: all 0.3s ease;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.project-card.show {
    opacity: 1;
    transform: translateY(0);
}

.project-card p {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
}

.project-card a {
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    text-decoration: none;
    color: white;
    font-size: 'Inria Serif';
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-card a:hover {
    background-color: rgba(255, 0, 0, 0.604);
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card img,
.project-card h3,
.project-card p {
    padding-top: 5px;
}

.section4 {
    position: relative;
    height: 700px;
    width: 100%;
    padding-top: 30px;
    overflow-x: hidden;
}


.section4 h1 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.my-skills-wrapper {
    overflow: hidden;
    width: 100%;
    padding: 30px;
}

.my-skills {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    animation: scroll-horizontal 20s linear infinite;
}

.my-skills-card {
    flex: 0 0 auto;
    width: 500px;
    background: #39393999;
    border: 3px solid #FFD7AB;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.my-skills-card.show {
    opacity: 1;
    transform: translateY(0);
}

.my-skills-card:hover {
    transform: scale(1.05);
}

.my-skills-card video {
    width: 100%;
    border-radius: 12px;
}

.my-skills-card p {
    display: inline-flex;
    margin: 10px 5px 0 5px;
    max-width: 140px;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid yellow;
    background-color: black;
    color: white;
    border-radius: 10px;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 50px;
}

.type-skills {
    background-color: #000;
    /* Black base */
    border: 2px solid #FFD7AB;
    /* Neon border color */
    box-shadow:
        0 0 5px #FFD7AB,
        0 0 10px #FFD7AB,
        0 0 20px #FFD7AB,
        0 0 40px #FFD7AB,
        0 0 80px #FFD7AB;
    transition: 0.3s;
    transition: 0.3s;
    color: white;
    padding: 15px 25px;
    border-radius: 12px;
    font-family: 'Inria Serif';
    font-weight: 300;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: default;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.type-skills.show {
    opacity: 1;
    transform: translateY(0);
}

.type-skills:hover {
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.604);
    box-shadow:
        0 0 10px #FFD7AB,
        0 0 20px #FFD7AB,
        0 0 40px #FFD7AB,
        0 0 60px #FFD7AB,
        0 0 120px #FFD7AB;
    transition: 0.3s;
}

.section5 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-x: hidden;
}

.contact-form {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 500px;
    max-width: 1500px;
    padding-left: 100px;
    width: 1300px;
    border-radius: 20px;
    background-color: #3A3A3A;
    box-shadow:
        0 0 10px #ffd6ab58,
        0 0 20px #ffd6ab60,
        0 0 40px #FFD7AB,
        0 0 60px #ffd6ab41,
        0 0 120px #ffd6ab46;
 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}
.contact-form.show {
    opacity: 1;
    transform: translateY(0);
}


.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.contact-image img {
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    border: 2px solid #FFD7AB;
    box-shadow: 0 0 25px rgba(255, 215, 171, 0.4);
}

.contact-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-fields h2 {
    color: white;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-weight: 300;
}

.contact-fields input,
.contact-fields textarea {
    width: 100%;
    padding: 14px;
    background: #111;
    border: 1px solid #FFD7AB;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.contact-fields textarea {
    height: 150px;
    resize: none;
}

.contact-fields button {
    align-self: flex-start;
    padding: 12px 30px;
    background: transparent;
    color: #FFD7AB;
    border: 2px solid #FFD7AB;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-fields button:hover {
    background: #FFD7AB;
    color: #000;
    box-shadow: 0 0 20px #FFD7AB;
}


footer {
    text-align: center;
    padding: 20px;
}

footer .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #2bffe6;
}
footer p {
    color: white;
}
@media (max-width: 1024px) {

    .section {
        padding: 50px 20px;
    }
    .section1 {
        height: 600px;
    }
    .section2 {
        height: 600px;
    }
    .about-text {
        margin-top: 60px;
        height: 400px;
    }
    .about-me {
        margin-top: 30px;
    }
    .about-me img {
        height: 400px;
        width: auto;
    }
    .about-text h1 {
        font-size: 30px;
        padding-top: 10px;
    }
    .about-text p {
        font-size: 15px;
        padding-top: 10px;
    }
    .section3 {
        height: 1100px;
    }
    .section4 {
        height: 750px;
    }
    .profile {
        height: 280px;
        top: 220px;
        right: 60px;
    }

    .text-profile {
        padding-left: 60px;
        padding-right: 60px;
    }

    .text-profile h1 {
        font-size: 70px;
        max-width: 400px;
    }
    nav {
        width: 1030px;
    }
    .nav-links {
        gap: 30px;
    }

}






/* Tablet Media Query */
@media (max-width: 768px) {

    /* Header / Nav adjustments */
    .section2 {
        height: 500px;
    }
    nav {
        max-width: 100%;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
    }

    .bg-video {
        width: 100px;
        filter: blur(0);
    }
    .nav-links {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10px;
    }
    

    /* Profile and Text */
    .profile {
        height: 350px;
        width: 350px;
        right: 50px;
        top: 120px;
    }

    .text-profile {
        padding: 20px;
        padding-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        height: 600px
    }

    .text-profile h1 {
        font-size: 60px;
        max-width: 350px;
    }

    .text-profile h3 {
        font-size: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
    .section2 {
        height: 900px;
    }
    .text-profile {

    }
    /* About Me Section */
    .about-me {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
    }

    .about-me img {
        height: 400px;
        width: auto;
        margin-left: 0;
    }

    .about-text h1 {
        font-size: 40px;
    }

    .about-text p {
        font-size: 16px;
    }

    /* Projects Section */
    .projects-container {
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
    }

    .project-card {
        flex: 1 1 80%;
        max-width: 80%;
    }

    /* Skills Section */
    .my-skills-card {
        width: 350px;
    }

    .skills {
        gap: 20px;
    }

    /* Contact Section */
    .contact-form {
        flex-direction: column;
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
        gap: 30px;
        height: auto;
    }

    .contact-image img {
        max-width: 300px;
    }
}




@media (max-width: 700px) {
    section {
        padding: 20px 20px;
    }
    .section1 {
        height: 1100px;
    }
    .name {
        display: none;
    }
    .logo {
        display: none;
    }
    nav {
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        background-color: #f8f8f800;
        backdrop-filter: blur(0);
        flex-direction: column;
        justify-content: center;
    }
    .nav-links {
        font-size: 12px;
    }
    .bg-video {
        height: 1100px;
        width: 360px;
        filter: blur(100px);
    }
    header {
        display: flex;
    }

    .profile {
        position: static;
        margin: 30px auto;
        display: block;
        height: 240px;
        width: auto;
    }

    .text-profile p {
        padding-top: 0;
    }

    .text-profile {
        margin-left: 20px;
        padding: 20px;
        text-align: center;
        height: auto;
    }
    .text-profile p {
        padding-top: 15px;
    }
    .text-profile h1 {
        padding-top: 20px;
        font-size: 44px;
        max-width: 100%;
    }
    .text-profile h3 {
        font-size: 1rem;
    }
    .text-profile h2 {
        font-size: 10px;
    }
    .btn {
        top: 40px;
        right: 0;
        margin: 10px auto;
        display: block;
        width: 80%;
        text-align: center;
    }
    .section2 {
        height: 800px;
    }
    .about-text {
        margin: 0
    }
    .about-me {
        height: 650px;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        text-align: center;
    }
    .about-me img {
        height: 300px;
        margin: 0;
    }
    .about-text h1 {
        padding: 0;
        font-size: 25px;
    }

    .about-text p {
        font-size: 12px;
    }

    .section3 {
        padding: 10px;
        height: 1300px;

    }
    .projects-container {
        margin-left: 0;
        margin-right: 0;
    }
    .section3 h1 {
        padding-top: 30px;
    }

    .section4 {
        height: 680px;
        padding: 0;

    }

    .section4 h1 {
        padding-top: 30px;
    }

    .my-skills-card {
        width: 300px;
    }

    @keyframes scroll-horizontal {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-900px);
        }

    }

    .my-skills {
        gap: 20px;
        animation-duration: 20s;
    }
    .section5 {
        height: 100px;

    }
    .skills {
        gap: 21px;
    }
    .type-skills p {
        font-size: 8px;
    }
    .contact-image {
        display: none;
    }
    .contact-form {
        height: 450px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-fields {
        width: 270px;
    }
    .contact-fields h2 {
        padding-top: 40px;
        font-size: 30px;
    }
    .contact-fields input {
        height: 40px;
    }
    .contact-fields button {
        padding: 5px 10px;
        font-size: 12px;
    }
    .section5 {
        height: 300px;
    }
}